.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}

.grey {
  color: var(--grey);
}

.p-1 {
  padding: 2px;
}

.circle {
  border-radius: 50%;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.btn {
  text-transform: uppercase;
  padding: 8px 14px;;
}

.sm-h {
  height:2px;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.btn.btn-primary:hover {
  outline: none;
  box-shadow: none;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
  outline: none;
  background-color: transparent;
  color: var(--blue);
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--blue);
}

.btn.btn-primary a .focus,
.btn.btn-primary a :focus {
  box-shadow: none;
}

.btn.btn-primary a :visited, .btn.btn-primary :visited {
  color: var(--white);
  border: 1px solid var(--blue);
}
.btn.btn-primary a :hover {
  outline: none;
}
.btn.btn-primary.active a,
.btn.btn-primary a :active {
  outline: none;
}

.btn.btn-primary.active.focus a,
.btn.btn-primary.active a:focus,
.btn.btn-primary.active a:hover,
.btn.btn-primary a :active.focus,
.btn.btn-primary a :active:focus,
.btn.btn-primary a :active:hover {
  outline: none;
  box-shadow: none;
}

.btn-group>.btn-primary:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn-primary {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 35px;
  border: 1px solid var(--blue);
}

.btn-secondary {
  color: var(--black);
  background-color: var(--lightgrey);
  border-radius: 35px;
  border: 1px solid var(--lightgrey);
}

.btn-secondary:hover {
  color: var(--white);
  background-color: var(--blue);
}

.btn-secondary .btn-side:hover, .btn-primary:hover {
  color: var(--blue);
  background-color: transparent;
  border-color: var(--blue);
  border: 1px solid var(--blue);
  opacity: 1;
}

.layout-switch {
  display: flex;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  line-height: 1.42857143;
  border-radius: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  background-color: var(--lightgrey);
}

.btn-switch {
    border: none;
    opacity: 1;
    border-radius: 35px;
    cursor: pointer;
    color: var(--grey);
    background-color: transparent;
}

.switch-on:hover {
  color: var(--white);
}

.switch-on {
    color: var(--white);
    background-color: var(--blue);
}

.btn.btn-switch.focus,
.btn.btn-switch:focus {
  outline: none;
  box-shadow: none;
  color: var(--white);
}
.btn.btn-switch:hover {
  outline: none;
  box-shadow: none;
  color: var(--white);
}
.btn.btn-switch.active,
.btn.btn-switch:active {
  outline: none;
  background-color: var(--blue);
  color: var(--white);
}
.btn.btn-switch.active.focus,
.btn.btn-switch.active:focus,
.btn.btn-switch.active:hover,
.btn.btn-switch:active.focus,
.btn.btn-switch:active:focus,
.btn.btn-switch:active:hover {
  color: var(--white);
  outline: none;
  box-shadow: none;
  border: none;
}

.btn.btn-switch a .focus,
.btn.btn-switch a :focus {
  color: var(--white);
  box-shadow: none;
}

.btn.btn-switch a :visited, .btn.btn-switch :visited {
  color: var(--white);
  border: (none);
}
.btn.btn-switch a :hover {
  color: var(--white);
  outline: none;
}
.btn.btn-switch.active a,
.btn.btn-switch a :active {
  color: var(--white);
  outline: none;
}

.btn.btn-switch.active.focus a,
.btn.btn-switch.active a:focus,
.btn.btn-switch.active a:hover,
.btn.btn-switch a :active.focus,
.btn.btn-switch a :active:focus,
.btn.btn-switch a :active:hover {
  color: var(--white);
  outline: none;
  box-shadow: none;
}

